<!DOCTYPE html>
<html>
<head>
	<title>XML-PDF</title>
	<style type="text/css">
		body {
			font-family: Montserrat, Helvetica, Arial, sans-serif;
			font-size: 10px;
		}
        header {
            font-size: 16px;
            background-color: #5f56e95b;
            color: #fff;
        }
	</style>
</head>
    <body>
        <div class="header">Catalog</div>
        <table>
            {{#each catalog.item}}
            <tr>
                <td>{{#bold}}{{name}}{{/bold}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td>
                    {{#switch warehouse}}
                        {{#case '001'}}Milano{{/case}}
                        {{#case '002'}}Monza{{/case}}
                        {{#default 'Not found'}}{{/default}}
                    {{/switch}}
                </td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
