<!DOCTYPE html>
<html>
<head>
	<title>XML-PDF</title>
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 10px;
		}
        header {
            font-size: 16px;
            background-color: #5f56e95b;
            color: #fff;
        }
	</style>
</head>
    <body>
        <div class="header">Catalog</div>
        <table>
            {{#catalog.item}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
            </tr>
            {{/catalog.item}}
        </li>
    </body>
</html>
